/*
Webhook Relay API

Webhook Relay accepts events from your application and fans them out to subscriber endpoints with HMAC signing, idempotency-key dedup, exponential-backoff retries, dead-letter handling, and per-attempt observability.  This spec is the source of truth for the API. Controllers conform to it; SDKs are generated from it. Run `npx @stoplight/spectral-cli lint openapi/spec.yaml` to validate locally. 

API version: 0.3.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package webhookrelay

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


type DeadLettersAPI interface {

	/*
	ListDeadLetters List dead-lettered deliveries

	Returns deliveries with `status=dead` — the human-attention queue.
A delivery lands here when:
  - The subscriber returned 4xx (not retried).
  - Retries exhausted on 5xx / timeout / connection errors.
  - The subscription was paused / disabled before the attempt.
  - The SSRF guard blocked the URL.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListDeadLettersRequest
	*/
	ListDeadLetters(ctx context.Context) ApiListDeadLettersRequest

	// ListDeadLettersExecute executes the request
	//  @return DeliveryPage
	ListDeadLettersExecute(r ApiListDeadLettersRequest) (*DeliveryPage, *http.Response, error)

	/*
	ReplayDeadLetter Replay a dead-lettered delivery

	Resurrects a `status=dead` delivery — sets it back to `pending` and
enqueues a fresh attempt. Returns 409 if the delivery is not in the
dead-letter state. To retry deliveries in other states use POST
/v1/deliveries/{id}/retry instead.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiReplayDeadLetterRequest
	*/
	ReplayDeadLetter(ctx context.Context, id string) ApiReplayDeadLetterRequest

	// ReplayDeadLetterExecute executes the request
	//  @return Delivery
	ReplayDeadLetterExecute(r ApiReplayDeadLetterRequest) (*Delivery, *http.Response, error)
}

// DeadLettersAPIService DeadLettersAPI service
type DeadLettersAPIService service

type ApiListDeadLettersRequest struct {
	ctx context.Context
	ApiService DeadLettersAPI
	subscriptionId *string
	since *time.Time
	cursor *string
	limit *int32
}

func (r ApiListDeadLettersRequest) SubscriptionId(subscriptionId string) ApiListDeadLettersRequest {
	r.subscriptionId = &subscriptionId
	return r
}

func (r ApiListDeadLettersRequest) Since(since time.Time) ApiListDeadLettersRequest {
	r.since = &since
	return r
}

func (r ApiListDeadLettersRequest) Cursor(cursor string) ApiListDeadLettersRequest {
	r.cursor = &cursor
	return r
}

func (r ApiListDeadLettersRequest) Limit(limit int32) ApiListDeadLettersRequest {
	r.limit = &limit
	return r
}

func (r ApiListDeadLettersRequest) Execute() (*DeliveryPage, *http.Response, error) {
	return r.ApiService.ListDeadLettersExecute(r)
}

/*
ListDeadLetters List dead-lettered deliveries

Returns deliveries with `status=dead` — the human-attention queue.
A delivery lands here when:
  - The subscriber returned 4xx (not retried).
  - Retries exhausted on 5xx / timeout / connection errors.
  - The subscription was paused / disabled before the attempt.
  - The SSRF guard blocked the URL.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListDeadLettersRequest
*/
func (a *DeadLettersAPIService) ListDeadLetters(ctx context.Context) ApiListDeadLettersRequest {
	return ApiListDeadLettersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DeliveryPage
func (a *DeadLettersAPIService) ListDeadLettersExecute(r ApiListDeadLettersRequest) (*DeliveryPage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeliveryPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeadLettersAPIService.ListDeadLetters")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/dead-letters"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.subscriptionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subscription_id", r.subscriptionId, "form", "")
	}
	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 25
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReplayDeadLetterRequest struct {
	ctx context.Context
	ApiService DeadLettersAPI
	id string
}

func (r ApiReplayDeadLetterRequest) Execute() (*Delivery, *http.Response, error) {
	return r.ApiService.ReplayDeadLetterExecute(r)
}

/*
ReplayDeadLetter Replay a dead-lettered delivery

Resurrects a `status=dead` delivery — sets it back to `pending` and
enqueues a fresh attempt. Returns 409 if the delivery is not in the
dead-letter state. To retry deliveries in other states use POST
/v1/deliveries/{id}/retry instead.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiReplayDeadLetterRequest
*/
func (a *DeadLettersAPIService) ReplayDeadLetter(ctx context.Context, id string) ApiReplayDeadLetterRequest {
	return ApiReplayDeadLetterRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return Delivery
func (a *DeadLettersAPIService) ReplayDeadLetterExecute(r ApiReplayDeadLetterRequest) (*Delivery, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Delivery
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeadLettersAPIService.ReplayDeadLetter")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/dead-letters/{id}/replay"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
